.header {
    display: flex;
    width: 100%;
}
.logo {
    width: 200px;
    height: 108px;
    cursor: pointer;

    margin: 7px 120px 3px 50px;
}
 .search {
    display: flex;
     
    margin-top: 35px;
}
 .search .input input{
    font-size: 22px;
    padding-left: 10px;
    width: 420px;
    height: 50px;
    border: 2px solid #110259;
} 
.search .btn button {
    width: 135px;
    height: 50px;
    border: none;
    background-color:#110259;
    font-size: 22px;
    color: white;
}
.logIn, .signUp {
    display: flex;
    cursor: pointer;
}
.logIn p, .signUp p {
    margin-top: -3px;
}
.logIn img {
    width: 19px;
    height: 25px;

    margin-right: 9px;
}
.signUp img {
    width: 23px;
    height: 23px;

    margin-right: 5px;
}
.authorization {
    font-size: 20px;
    font-weight: bold;
    color: #110259;

    margin: 27px 0 0px 100px;
}
.authorized {
    margin: auto;
}
.greeting p {
    text-align: center;
    font-size: 25px;
}
.greeting .username {
    font-weight: bold;
    font-size: 28px;
    color: #110259;
}
.logOut {
    margin: 0 auto;
    width: 150px;
}
.logOut button {
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
    background-color: #110259;
    color: white;
    outline: none;
}
